<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>welcom</title>
    <script src="http://libs.baidu.com/jquery/2.1.4/jquery.min.js"></script>
</head>
<body>
<h1>Welcome</h1>
<form action="/" id="form" method="get" name="form">
    <div><input class="btn btn-primary" onclick="qpstest()" type="button" value="压力测试QPS:1000"></div>
</form>
<form action="" class="fh5co-form animate-box" data-animate-effect="fadeInLeft" id="sendOne" method="post"
      onsubmit="return false">
    <h2>终端单次发送电表读数信息，不同用户不同终端大量访问读写并发场景，压测通过</h2>
    <p1>输入规则:用户id:1~2000,耗电量为数字(例2024.24)</p1>
    <div class="form-group">
        <label class="sr-only" for="user_id">用电客户</label>
        <input autocomplete="off" class="form-control" id="user_id" name="user_id" placeholder="user_id" type="text">
    </div>
    <div class="form-group">
        <label class="sr-only" for="user_CurrentElectricityConsumption">终端读数</label>
        <input autocomplete="off" class="form-control" id="user_CurrentElectricityConsumption"
               name="user_CurrentElectricityConsumption"
               placeholder="user_CurrentElectricityConsumption" type="text">
    </div>
    <div class="form-group">
        <input class="btn btn-primary" onclick="sendOne()" type="button" value="Up my Data">
    </div>
</form>
<form action="" class="fh5co-form animate-box" data-animate-effect="fadeInLeft" id="payAndSendMail" method="post">
    <h2>用户支付电费并邮件反馈，同一用户不同终端同时支付并发场景，防重压测通过</h2>
    <p1>输入规则:用户id:1~2000,邮箱为正常自己邮箱(例yourmail@qq.com)</p1>
    <div class="form-group">
        <label class="sr-only" for="mail_user_id">用户</label>
        <input autocomplete="off" class="form-control" id="mail_user_id" name="mail_user_id" placeholder="mail_user_id"
               type="text">
    </div>
    <div class="form-group">
        <label class="sr-only" for="mailString">邮箱</label>
        <input autocomplete="off" class="form-control" id="mailString" name="mailString"
               placeholder="mailString" type="text">
    </div>
    <div class="form-group">
        <input class="btn btn-primary" onclick="payAndSendMail()" type="button" value="Up my Data">
    </div>
</form>
<script type="text/javascript">
    function qpstest() {
        alert("压力测试(管理员未打开部署环境测试通道)");
    }

    function sendOne() {
        var user_id = document.getElementById("user_id").value;
        var user_CurrentElectricityConsumption = document.getElementById("user_CurrentElectricityConsumption").value;
        $.ajax({
            type: "POST",
            dataType: "json",
            url: "/send",
            contentType: "application/json",
            data: JSON.stringify({
                "user_id": user_id,
                "user_CurrentElectricityConsumption": user_CurrentElectricityConsumption
            }),
            success: function (result) {
                console.log("data is :" + result)
                if (result.code === 200) {
                    alert("消息发送成功，后台校验数据");
                } else {
                    alert(result.message)
                }
            },
            error: function (xhr) {
                var statusCode = xhr.status;
                // 处理请求发生错误的情况
                if (statusCode === 404) {
                    alert("请求的资源不存在！");
                    console.log("请求的资源不存在！");
                } else if (statusCode === 500) {
                    alert("服务器内部错误！");
                    console.log("服务器内部错误！");
                } else {
                    if (statusCode === 200) {
                        alert("发送成功");
                        console.log("请求发生错误，状态码：" + statusCode);
                    } else {
                        alert("请求发生错误，状态码：" + statusCode);
                        console.log("请求发生错误，状态码：" + statusCode);
                    }
                }
            }
        });
    }

    function payAndSendMail() {
        var user_id = document.getElementById("mail_user_id").value;
        var mail = document.getElementById("mailString").value;
        $.ajax({
            type: "POST",
            dataType: "json",
            url: "/pay",
            contentType: "application/json",
            data: JSON.stringify({
                "user_id": user_id,
                "mail": mail
            }),
            success: function (response, textStatus, xhr) {
                var statusCode = xhr.status;
                // 处理请求成功的情况
                console.log("data is :" + response)
                if (statusCode === 200) {
                    alert("发送成功");
                } else {
                    if (statusCode === 404) {
                        alert("请求的资源不存在！");
                        console.log("请求的资源不存在！");
                    } else if (statusCode === 500) {
                        alert("服务器内部错误！");
                        console.log("服务器内部错误！");
                    } else {
                        alert("请求发生错误，状态码：" + statusCode);
                        console.log("请求发生错误，状态码：" + statusCode);
                    }
                }
            },
            error: function (xhr) {
                var statusCode = xhr.status;
                // 处理请求发生错误的情况
                if (statusCode === 404) {
                    alert("请求的资源不存在！");
                    console.log("请求的资源不存在！");
                } else if (statusCode === 500) {
                    alert("服务器内部错误！");
                    console.log("服务器内部错误！");
                } else {
                    if (statusCode === 200) {
                        alert("发送成功");
                        console.log("请求发生错误，状态码：" + statusCode);
                    } else {
                        alert("请求发生错误，状态码：" + statusCode);
                        console.log("请求发生错误，状态码：" + statusCode);
                    }
                }
            }
        });
    }
</script>
</body>
</html>